# Practica 3

### JOSE ALEJANDRO TENORIO CHAVEZ
### 20120161

### 1. Muestra los tipos de cada columna 
### En este paso tuve que utilizar el ISO-8859-1 por que si no me marcaba error , investigue y por lo que entendi se debe a que el dataset tiene caracteres que el codec por defecto de pandas no admite 

### Link de donde saque la solucion : https://stackoverflow.com/questions/18171739/unicodedecodeerror-when-reading-csv-file-in-pandas

In [3]:
import pandas as pd

# Cargar el dataset utilizando ISO-8859-1 como codec
df = pd.read_csv("Practica_Youtube.csv", encoding="ISO-8859-1")

# Ver los tipos de cada columna
print(df.dtypes)

rank                                  int64
Youtuber                             object
subscribers                           int64
video views                         float64
category                             object
Title                                object
uploads                               int64
Country                              object
Abbreviation                         object
channel_type                         object
video_views_rank                    float64
country_rank                        float64
channel_type_rank                   float64
video_views_for_the_last_30_days    float64
lowest_monthly_earnings             float64
highest_monthly_earnings            float64
lowest_yearly_earnings              float64
highest_yearly_earnings             float64
subscribers_for_last_30_days        float64
created_year                        float64
created_month                        object
created_date                        float64
dtype: object

### 2. Indentifique los nulos que hay por columna

In [5]:
# Contar valores nulos por columna
print(df.isnull().sum())

rank                                  0
Youtuber                              0
subscribers                           0
video views                           0
category                             46
Title                                 0
uploads                               0
Country                             122
Abbreviation                        122
channel_type                         30
video_views_rank                      1
country_rank                        116
channel_type_rank                    33
video_views_for_the_last_30_days     56
lowest_monthly_earnings               0
highest_monthly_earnings              0
lowest_yearly_earnings                0
highest_yearly_earnings               0
subscribers_for_last_30_days        337
created_year                          5
created_month                         5
created_date                          5
dtype: int64

### Tratar datos Nulos

In [7]:
# Tratar los valores nulos en cada columna

# 1. Llenar valores nulos en 'category' con la moda (valor más común)
df['category'].fillna(df['category'].mode()[0], inplace=True)

# 2. Eliminar filas con valores nulos en 'Country' y 'Abbreviation' 
df.dropna(subset=['Country', 'Abbreviation'], inplace=True)

# 3. Llenar valores nulos en 'channel_type' con la moda (valor más común)
df['channel_type'].fillna(df['channel_type'].mode()[0], inplace=True)

# 4. Llenar valores nulos en 'video_views_rank' con el promedio de la columna
df['video_views_rank'].fillna(df['video_views_rank'].mean(), inplace=True)

# 5. Llenar valores nulos en 'country_rank' con el promedio de la columna
df['country_rank'].fillna(df['country_rank'].mean(), inplace=True)

# 6. Llenar valores nulos en 'video_views_for_the_last_30_days' con interpolación
df['video_views_for_the_last_30_days'].interpolate(method='linear', inplace=True)

# 7. Llenar valores nulos en 'subscribers_for_last_30_days' con la mediana de la columna
df['subscribers_for_last_30_days'].fillna(df['subscribers_for_last_30_days'].median(), inplace=True)

# 8. Llenar valores nulos en 'created_year', 'created_month', y 'created_date' con interpolación
df['created_year'].interpolate(method='linear', inplace=True)
df['created_month'].interpolate(method='linear', inplace=True)
df['created_date'].interpolate(method='linear', inplace=True)

# Verificar nuevamente si quedan valores nulos
valores_nulos_actualizados = df.isnull().sum()
print(valores_nulos_actualizados)

rank                                0
Youtuber                            0
subscribers                         0
video views                         0
category                            0
Title                               0
uploads                             0
Country                             0
Abbreviation                        0
channel_type                        0
video_views_rank                    0
country_rank                        0
channel_type_rank                   9
video_views_for_the_last_30_days    0
lowest_monthly_earnings             0
highest_monthly_earnings            0
lowest_yearly_earnings              0
highest_yearly_earnings             0
subscribers_for_last_30_days        0
created_year                        0
created_month                       3
created_date                        0
dtype: int64